/* Every Color Touched by App */

#palette {
  color: #000000, #3d1b3b, #4b2c6f, #854bcc, #204934,
    #295b41, #2e8351, #3a2707, #523a0a, #9a8127, #420111,
    #60180e, #931a03, #6e0122, #801d56, #962c69, #f5dd97,
    #f5bf55, #f5a550, #d99145, #b37449, #a96950, #88310b,
    #c7400a, #ad380a
}